.dashboard-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
}

h1,
h2 {
  text-align: center;
  color: #333333;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.job-card {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.job-card h3 {
  margin-bottom: 10px;
  color: #333333;
}

.job-card p {
  color: #666666;
}


.logout-button-container {
  /* background-color: #4C/AF50; */
  padding: 2px;
  position: absolute;
  right: 20px; 
  top: 20px; 
}

/* Style for the logout button */
.logout-button {
  background-color: white;
  color: #4CAF50;
  border: none;
  padding: 5px 10px; /* Shorten the button */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #45a049;
  color: white;
}
